<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.weishu.markdownimg</string>
	<key>connections</key>
	<dict>
		<key>8BFF9926-79DA-413A-A4EB-63DB997DF739</key>
		<array/>
		<key>AFB4A236-0658-4EC5-BA89-1CCF93C2A4A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BFF9926-79DA-413A-A4EB-63DB997DF739</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BE152935-4073-489A-8624-D4410C803C1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8445579-037E-4FFF-84EA-61E88AF60C5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BFDF4168-77CE-47F2-AA9F-9D897816E273</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A190910C-1784-41B7-9CDD-6C796907116A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>weishu</string>
	<key>description</key>
	<string>Utility to simplify the img upload in markdown</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>markdown img</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/Users/vkyii/.pyenv/versions/2.7.10/bin/python2.7 ./save_img.py -u</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BFF9926-79DA-413A-A4EB-63DB997DF739</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AFB4A236-0658-4EC5-BA89-1CCF93C2A4A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mdimgsetup</string>
				<key>subtext</key>
				<string>设置markdown图片上传图床的信息</string>
				<key>text</key>
				<string>markdown img设置</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE152935-4073-489A-8624-D4410C803C1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import util
import os

if not os.path.exists(util.CONFIG_FILE):
    util.generate_config_file()

util.open_with_editor(util.CONFIG_FILE)</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8445579-037E-4FFF-84EA-61E88AF60C5A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>"s" save to local, "u" upload to server</string>
				<key>script</key>
				<string>#!/bin/sh

#check the input and display the relative title
PAR={query}
if [ $PAR = "s" ] ; then
	title="Save to local"
elif [ $PAR = "u" ]; then
	title="Upload to server"
elif [ $PAR = "a" ]; then
	title="Save to local And Upload to server"
else
	title="Parameter not correct"
fi

echo '&lt;?xml version="1.0"?&gt;&lt;items&gt;'
echo "&lt;item arg=\"{query}\" uid=\"ssid\" valid=\"yes\"&gt;"
echo "&lt;title&gt;$title&lt;/title&gt;"
echo "&lt;subtitle&gt;$subtitle&lt;/subtitle&gt;"
echo "&lt;icon&gt;icon.png&lt;/icon&gt;&lt;/item&gt;&lt;/items&gt;"
echo "&lt;/items&gt;"</string>
				<key>subtext</key>
				<string>Save image to local or server</string>
				<key>title</key>
				<string>Markdown Image Saver</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BFDF4168-77CE-47F2-AA9F-9D897816E273</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/Users/vkyii/.pyenv/versions/2.7.10/bin/python2.7 ./save_img.py -"{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A190910C-1784-41B7-9CDD-6C796907116A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>8BFF9926-79DA-413A-A4EB-63DB997DF739</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A190910C-1784-41B7-9CDD-6C796907116A</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>AFB4A236-0658-4EC5-BA89-1CCF93C2A4A3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BE152935-4073-489A-8624-D4410C803C1B</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>BFDF4168-77CE-47F2-AA9F-9D897816E273</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>D8445579-037E-4FFF-84EA-61E88AF60C5A</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.tianweishu.com</string>
</dict>
</plist>
